html{
    height: 100%;
}
body{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}

/*Login Form*/
.login-page{
    background: #e5e5e5;
    height: 620px;
}
.login-well{
    min-height: 20px;
    height: 70px;
    padding: 19px;
    margin-bottom: 30px;
    background-color: #0f3950;
    border: 1px solid #0f3950;
    border-radius: 0px;
}
.logo{
    margin: 0;
    font-size: 2em;
    font-weight: 200;
    font-family: "Audiowide", cursive;
    color: #0C4B33;
    text-align: center;
    text-shadow: 1px 1px 0 #333333;
    line-height: 70px;
}
footer{
    background: #0f3950;
    color: #ffffff;
    height: 39px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.panel{
    border-radius: 0px;
}
.form-control {
    border-radius: 0px;
}
.btn{
    border-radius: 0px;
}
.panel-custom > .panel-heading{
    padding: 1px 15px;
    background: #0f3950;
    color: #ffffff;
    border-radius: 0px;
}


/*Dashboard*/
.side-menu{

}
.navbar-default{
    border-radius: 0px;
    background: #0f3950;
}

.sidebar-nav{
    padding-left: 0px;
    padding-right: 0px;
    height: 600px;
    position: fixed;
    width: 150px;
    background: #0f3950;
    margin-left: -15px;
}

.sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
.navbar-right {
    float: right !important;
    margin-right: 2px;
}
.navbar-brand{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 0px;
}
.dropdown-menu{
    border-radius: 0px;
}
.navbar-nav {
    float: left;
}

/*Content*/

.col-lg-2 {
    width: 10%;
    margin-top: 90px;
}
.col-lg-10 {
    width: 90%;
    margin-top: 42px;
}
.navbar{
    min-height: 0;
    border-radius: 0px;
}
.navbar-fixed-top{
    height: 45px;
}
.sidebar-nav .navbar li a{
    color: #ebebeb;
}
.sidebar-nav .navbar li{
    border-width: 2px;
    border-color: #ebebeb;
}
.sidebar-nav .navbar li a:hover{
    color: #e5e5e5;
    background: #1b6d85;
}
.top-menu{
    background: rgba(26, 89, 127, 0.93);
    height:40px;
    width: 101%;
    border-radius: 0px;
    margin-top: 7px;
	margin-left:-2px;
    position: fixed;
}
.sub-menu li{
	padding: 1.5px;
    position: fixed;
}

.container{
    position: fixed;
    margin-top:50px;
    background-color: inherit;
    width: 89%;
}
/*GOOGLE_MAPS*/
#map-canvas {
    height: 490px;
    margin-top: -1px;
    padding: 0px;
    width: 101%;
}
