{%extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    	<div class="tabs ">
			<ul>
				<li><a href="#tab-1">Add Asset</a></li>
				<li><a href="#tab-2">View Asset</a></li>
			</ul>	
		</div>
		<div class="container">
            <div id="tab-1">
			<form method="post" data-parsley-validate class="form-horizontal  form-label-left">
                 <legend>Add New Asset</legend>
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="car name">Asset Name :<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" name="name" required="required" placeholder="Asset Name" class="form-control col-md-7 col-xs-12">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="asset">Asset Type :<span class="required">*</span></label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<select class="select2_single form-control" name="asset" tabindex="-1">
							<option value="" disabled="" selected="" >Select Type</option>
							<option value="vehicle">Vehicle</option>
							<option value="gps">GPS Tracker</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="plate_number">Plate Number :<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" name="number" required="required" placeholder="Plate Number" class="form-control col-md-7 col-xs-12">
					</div>
				</div>
				<div class="form-group" >
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description :<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12" >
						<textarea size="20" name="desc" placeholder="Description" class="form-control col-md-7 col-xs-12"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12">Device Status<span class="required">*</span></label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<select class="select2_single form-control" name="condition" name="status" tabindex="-1">
							<option disabled="" selected="">--Select Status--</option>
							<option value="1">Active</option>
							<option value="0">Inactive</option>
						</select>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-7">
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="submit" name="addweb" class="btn btn-default">Cancel</button>
					</div>
				</div>

			</form>
		</div>
        </div>
		<script type="text/javascript">
		 	$('#startDate').datepicker();
		</script>
{% endblock %}