{% load staticfiles i18n%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CTMS-{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="icon" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.12.1/jquery-ui.css'%}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    <!--Javascript & Googlemaps-->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/pubnub.min.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
        {% block header %}
            <header>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="" style="background-color: #ffffff">
                            <img src="{{STATIC_URL}}static/img/logo.png" alt="CTMS" height="60" width="120" style="background-color: #ffffff">
                        </a>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href=""><span class="label label-danger" style="padding: 6px">Moses Zengo</span></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href=""><span class="badge pull-right" id="unread-count">0</span> Inbox</a></li>
                                    <li><a href="">Account Settings</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="row">
                <div class="col-lg-2">
                    <div class="sidebar-nav">
                        <div class="navbar navbar-default" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'index' %}">Dashboard</a></li>
                                <li><a href="{% url 'location' %}">Location</a></li>
                                <li><a href="{% url 'vehicles' %}">Vehicles</a></li>
                                <li><a href="{% url 'drivers' %}">Drivers</a></li>
                                <li><a href="{% url 'routes' %}">Routes</a></li>
                                <li><a href="{% url 'geofence' %}">Geofencing</a></li>
                                <li><a href="{% url 'schedules' %}">Shedules</a></li>
                                <li><a href="{% url 'assets' %}">Assets</a></li>
                                <li><a href="{% url 'reports' %}">Reports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-xs-12 col-sm-6 col-md-8">
                    <div class="content">
                       {% block content%}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
    <footer class="navbar-fixed-bottom">
        <span>&copy; UDOM 2017</span>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <!-- Custom  -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <!--Googlemaps-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7XLxzFMwDJT8-yW9Nj4Z6h_T33jUOduk&callback=initMap"></script>
    <script type="text/javascript">
        $(".tabs").tabs();
        $('#startDate').datepicker();
    </script>
  </body>
</html>