{%extends 'base.html' %}
{% block title %}Driver{% endblock %}
{% block content %}
    <div class="tabs">
			<ul>
				
				<li><a href="#tab-3">View Asset</a></li>
				<li><a href="#tab-2">Edit Asset </a></li>
				<li><a href="#tab-1">Create Asset</a></li>
				<li><a href="#tab-4">Create Driver4</a></li>
				<li><a href="#tab-5">Create Driver5</a></li>
			 </ul>
			 
			 	<div id="tab-1">
			 	<form method="post" data-parsley-validate class="form-horizontal  form-label-left">
							<i style="text-decoration:underline;">Basic Asset Infromation</i>
							<br>
							<p>This infromation will be used to create a car as an asset</p>
							<br>
							<legend>for car</legend>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="car name">car name: <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="car" required="required" placeholder="name of the car" class="form-control col-md-7 col-xs-12">
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="model">Brand: <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="brand" required="required" placeholder="insert a brand" class="form-control col-md-7 col-xs-12">
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Plate Number: <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="number" required="required" placeholder="insert plate number of a car" class="form-control col-md-7 col-xs-12">
								</div>
							</div>

							<div class="form-group" >
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">buying date: <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12" >
									<input type="text" name="date" id="startDate" required="required" placeholder="insert buying date" class="form-control col-md-7 col-xs-12">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Condition<span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="select2_single form-control" name="condition" name="condition" tabindex="-1">
										<option value="">--Select the condition--</option>
										<option>old</option>
										<option>new</option>
									</select>
								</div>
							</div>
							<hr>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
									<button type="submit" class="btn btn-primary">Cancel</button>
									<button type="submit" name="addweb" class="btn btn-green">Register</button>
								</div>
							</div>

						</form>
							</div>
					</div>

{% endblock %}