{%extends 'base.html' %}
{% block title %}geofencing{% endblock %}
{% block content %}
    	<div class="tabs">
			<ul>
				<li><a href="#tab-1">Set Geofencing</a></li>
				<li><a href="#tab-2">Edit Geofencing</a></li>
				<li><a href="#tab-3">Display Geofencing</a></li>
				<li><a href="#tab-4">Geofencing Alart</a></li>
		
			 </ul>
			 <div id="tab-1">
			 	<h2>set geofencing</h2>
			 	<p>LMMS (Linux Multimedia Studio) is an open source digital audio workstation (DAW) software. You can use LMMS to produce music by synthesizing sounds, arranging samples of actual musical instruments (or even your own voice), and recording a MIDI keyboard and then using those sounds. Any recorded sound can be further modified by combining the features of trackers, sequencers and synthesizers. </p>
			 </div>
			  <div id="tab-2">
			 	<h2>view geofencing</h2>
			 	<p>LMMS (Linux Multimedia Studio) is an open source digital audio workstation (DAW) software. You can use LMMS to produce music by synthesizing sounds, arranging samples of actual musical instruments (or even your own voice), and recording a MIDI keyboard and then using those sounds. Any recorded sound can be further modified by combining the features of trackers, sequencers and synthesizers. </p>
			 </div>
			  <div id="tab-3">
			 	<h2>edit geofencing</h2>
			 	<p>LMMS (Linux Multimedia Studio) is an open source digital audio workstation (DAW) software. You can use LMMS to produce music by synthesizing sounds, arranging samples of actual musical instruments (or even your own voice), and recording a MIDI keyboard and then using those sounds. Any recorded sound can be further modified by combining the features of trackers, sequencers and synthesizers. </p>
			 </div>
			 <div id="tab-4">
			 	<h2>geofencing Alart</h2>
			 	<p>LMMS (Linux Multimedia Studio) is an open source digital audio workstation (DAW) software. You can use LMMS to produce music by synthesizing sounds, arranging samples of actual musical instruments (or even your own voice), and recording a MIDI keyboard and then using those sounds. Any recorded sound can be further modified by combining the features of trackers, sequencers and synthesizers. </p>
			 </div>
		 </div>
{% endblock %}