{%extends 'base.html' %}
{% block title %}Location{% endblock %}
{% block content %}
	<div class="navbar top-menu">
		<ul class="nav navbar-nav sub-menu">
			<li><button class="btn btn-default">Live Location</button></li>
			<li><button class="btn btn-default">History</button></li>
			<li><button class="btn btn-default">Create Driver</button></li>
			<li><button class="btn btn-default">Create Driver</button></li>
		</ul>
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="map-canvas">

                </div>
            </div>
        </div>
    </div>
{% endblock %}