{%extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="tabs">
			<ul>
				<li><a href="#tab-1">Assign Route</a></li>
				<li><a href="#tab-2">Edit Route</a></li>
				<li><a href="#tab-3">View Route</a></li>
			 </ul>
			 <div id="tab-1">
			 	<form method="post" data-parsley-validate class="form-horizontal  form-label-left">
							<i style="text-decoration:underline;">Assign route</i>
							<br>
							<p>This infromation will be used to Assign route to a car</p>
							<br>
							<legend>Assign route</legend>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">select car:<span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="select2_single form-control" name="condition" name="condition" tabindex="-1">
										<option value="">--Select a car--</option>
										<option>Escudo</option>
										<option>Rav4</option>
									</select>
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">select route:<span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="select2_single form-control" name="condition" name="condition" tabindex="-1">
										<option value="">--Select route--</option>
										<option>Dar-Dom-Dar</option>
										<option>Aru-Dom-Aru</option>
										<option>Aru-Dar-Aru</option>
										<option>Sing-Dom-Sing</option>
									</select>
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="diperture">diperture time: <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="dipature" required="required" placeholder="insert time for a dipature" class="form-control col-md-7 col-xs-12">
								</div>
							</div>

							<div class="form-group" >
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="arraival">Arrival time: <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12" >
									<input type="text" name="arrival" required="required" placeholder="insert arrival timee" class="form-control col-md-7 col-xs-12">
								</div>
							</div>


							<hr>
							<i style="text-decoration:underline;">Business category</i>
							<br>
							<p>This infromatin will be used to tell how your website perform against other in the same category.</p>
							<br>
							
							<hr>
							<i style="text-decoration:underline;">Reporting timezone</i>

							<br>
							<p>The reporting of data will given according to the timezone specified</p>
							<br>
							

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Timezone<span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class=" form-control" id="webtzone" name="webzone" tabindex="-1">
										<option value="">-- Select the reporting timezone --</option>

									</select>
								</div>
							</div>

							<hr>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
									<button type="submit" class="btn btn-primary">Cancel</button>
									<button type="submit" name="addweb" class="btn btn-green">Register</button>
								</div>
							</div>
						</form>
							 <div id="tab-2">
			 	<h2>hello tab-2</h2>
			 	<p>LMMS (Linux Multimedia Studio) is an open source digital audio workstation (DAW) software. You can use LMMS to produce music by synthesizing sounds, arranging samples of actual musical instruments (or even your own voice), and recording a MIDI keyboard and then using those sounds. Any recorded sound can be further modified by combining the features of trackers, sequencers and synthesizers. </p>
			 </div>
			  <div id="tab-3">
			 	<h2>hello tab-3</h2>
			 	<p>LMMS (Linux Multimedia Studio) is an open source digital audio workstation (DAW) software. You can use LMMS to produce music by synthesizing sounds, arranging samples of actual musical instruments (or even your own voice), and recording a MIDI keyboard and then using those sounds. Any recorded sound can be further modified by combining the features of trackers, sequencers and synthesizers. </p>
			 </div>
			</div>
{% endblock %}